<div class="navbar bg-base-100">
  <div class="flex-1">
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a>Blog</a></li>
      <li tabindex="0">
      </li>
      <li><a>About me</a></li>
      <li tabindex="0">
      </li>
      <li><a>Contact</a></li>
    </ul>
  </div>
</div>

<div class="hero min-h-screen bg-blue-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img  class="img" src="../../assets/blog logo.png" />
    <div>
      <h1 class="text-5xl font-bold">My Hearing Loss Journey!</h1>
      <p class="py-6">Living with a hearing loss is not easy but thanks to hearing aid that makes hearing become alot easier. Join me as I will be sharing my experince, challenges and advices about my hearing loss journey, and to be able to live happy in this hearing loss journey.</p>
      <button class="btn btn-primary" [routerLink]="['/register']">Join Me</button>
    </div>
  </div>
</div>

